@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    outline: none;

    text-decoration: none;

}
 h1, h2, h3, a, p, span{
    color: #0C313C;
 }



@font-face {
    font-family: "poppins-regular";
    src: url('/public/fonts/Poppins-Regular.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "poppins-bold";
    src: url('/public/fonts/Poppins-Bold.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "poppins-semibold";
    src: url('/public/fonts/Poppins-SemiBold.ttf') format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "poppins-italic";
    src: url('/public/fonts/Poppins-Italic.ttf') format("truetype");
    font-style: italic;
}


